QFrame {
    background-color: rgba(255, 255, 255, 0.5);
}

QLabel {
    background: transparent;
}

QTabWidget > QTabBar {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(0, 0, 0, 192), stop:1 rgba(64, 64, 64, 192));
	alignment: center;
}

QTabWidget > QTabBar::tab {
    padding: 0.5em;
    border: none;
    background: transparent;
    color: white;
}

QTabWidget > QTabBar::tab:selected {
    background-color: rgba(255, 255, 255, 0.5);
}

QTabWidget > QTabBar::tab:hover {
    background-color: lightblue;
}

QTabWidget > QStackedWidget {
    background: transparent;
}

QTabWidget > QStackedWidget > QWidget {
    background: transparent;
}

QAbstractItemView::item:selected {
    background: white;
    color: black;
}

QAbstractItemView::item:selected:active {
    background: white;
    color: black;
}

QAbstractItemView::text:selected {
    background: white;
    color: black;
}

QAbstractItemView {
    selection-background-color: lightblue;
    selection-color: black;
    show-decoration-selected: 0;
}

QHeaderView {
    background: white;
    color: black;
}

QAbstractButton {
	border: 1px solid lightgray;
	background-color: white;
	border-radius: 1px;
}

QAbstractButton:checked {
	background-color: darkblue;
	color: white;
}

QAbstractButton:hover {
	background-color: lightblue;
}

QAbstractSlider::groove {
	background: transparent;
}

QAbstractSlider::groove:horizontal {
    height: 1em;
}

QAbstractSlider::add-page:horizontal,
QAbstractSlider::sub-page:horizontal {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

QAbstractSlider::add-page {
	background: lightgray;
}

QAbstractSlider::sub-page {
	background: lightblue;
}

QAbstractSlider::handle {
	background-color: white;
	border: 1px solid lightgray;
	width: 1em;
	margin: 0;
}

QAbstractSlider::handle:hover {
	background-color: lightblue;
}

QScrollBar {
	background: transparent;
}

QScrollBar:vertical {
	width: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

QScrollBar::groove {
	background: transparent;
}

QScrollBar::handle {
	background-color: hsva(0, 0, 255, 100%);
	border: 1px solid hsva(0, 0, 221, 100%);
}

QScrollBar::handle:hover {
	background-color: lightblue;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: transparent;
}

QScrollBar::add-line, QScrollBar::sub-line {
	background-color: hsva(0, 0, 255, 100%);
	border: 1px solid hsva(0, 0, 221, 100%);
	subcontrol-origin: margin;
}

QScrollBar::add-line:hover, QScrollBar::sub-line:hover {
	background-color: lightblue;
}

QScrollBar::add-line:vertical {
	height: 1em;
	subcontrol-position: bottom;
}

QScrollBar::sub-line:vertical {
	height: 1em;
	subcontrol-position: top;
}

QScrollBar::down-arrow,
QScrollBar::up-arrow,
QScrollBar::right-arrow,
QScrollBar::left-arrow {
	width: 0.1em;
	height: 0.1em;
	border: 1px solid hsva(0, 0, 221, 100%);
	border-radius: 2px;
}

QGroupBox {
    border: 1px solid rgba(223, 223, 223, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 1.2em;
    border-radius: 2px;
}

QGroupBox::title {
    border: 1px solid rgba(223, 223, 223, 0.7);
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0.1em 0.1em;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 2px;
}
